designs/pages/userlist.json
[
    {
        "id": "sd_zasWcNFp6ih49FvU",
        "type": "tab",
        "createdDate": "2021-07-21T20:17:16.326Z",
        "label": "userlist",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "userlistComponent"
    },
    {
        "id": "sd_GGlWoXY5uiZMmiRd",
        "type": "OnInit",
        "z": "sd_zasWcNFp6ih49FvU",
        "viewType": "common",
        "nodeType": "start",
        "name": "On Init",
        "functionName": "ngOnInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 160,
        "wires": [
            [
                "sd_CEf0sYTcYzrReUdq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "userlistComponent"
    },
    {
        "id": "sd_aGc6a91rJncWb09z",
        "type": "Script",
        "z": "sd_zasWcNFp6ih49FvU",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nif (this.page.activatedRoute.snapshot.data && this.page.activatedRoute.snapshot.data.userList) {\n    this.page['userlist'] = this.page.activatedRoute.snapshot.data.userList;\n    console.log('this.page.userlist====',this.page['userlist']);\n}\n",
        "functionName": "sd_aGc6a91rJncWb09z",
        "category": "Function",
        "x": 325,
        "y": 160,
        "wires": [
            [
                "sd_CyQ6IPGCnMvvJ0lD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CyQ6IPGCnMvvJ0lD",
        "type": "PageVariables",
        "z": "sd_zasWcNFp6ih49FvU",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_CyQ6IPGCnMvvJ0lD",
        "category": "Function",
        "x": 405,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_CEf0sYTcYzrReUdq",
        "type": "UseDependency",
        "z": "sd_zasWcNFp6ih49FvU",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "ActivatedRoute",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "activatedRoute"
                },
                "injectable": true
            },
            {
                "textIp": "Router",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "route"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/router",
        "serviceDesignerType": "pages",
        "functionName": "sd_CEf0sYTcYzrReUdq",
        "category": "Function",
        "x": 205,
        "y": 160,
        "wires": [
            [
                "sd_aGc6a91rJncWb09z"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    },
    {
        "id": "sd_NfteUPNgQlTTwIhO",
        "type": "PageStart",
        "z": "sd_zasWcNFp6ih49FvU",
        "viewType": "pages",
        "nodeType": "start",
        "name": "openUserDetail",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "data",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "openUserDetail",
        "category": "General",
        "x": 85,
        "y": 300,
        "wires": [
            [
                "sd_G5LxDgvmmvCJiEYZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "userlistComponent"
    },
    {
        "id": "sd_G5LxDgvmmvCJiEYZ",
        "type": "Script",
        "z": "sd_zasWcNFp6ih49FvU",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "this.page.route.navigate([`userdetails/${bh.input.data.email}`]);",
        "functionName": "sd_G5LxDgvmmvCJiEYZ",
        "category": "Function",
        "x": 240,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "generated": true
    }
]
